!dwm.normfgcolor: #fcae1e
!dwm.normbgcolor: #111326
!dwm.normbordercolor: #fcae1e

!dwm.selfgcolor: #fcae1e
!dwm.selbgcolor: #06060a
!dwm.selbordercolor: #fcae1e

!dwm.normfgcolor: #ccccdd
!dwm.normbgcolor: #202025
!dwm.normbordercolor: #fcae1e

!dwm.selfgcolor: #ccccdd
!dwm.selbgcolor: #101015
!dwm.selbordercolor: #fcae1e

dwm.normfgcolor: #fcae1e
dwm.normbgcolor: #0a1018
dwm.normbordercolor: #fcae1e

dwm.selfgcolor: #fcae1e
dwm.selbgcolor: #06060a
dwm.selbordercolor: #fcae1e
